*{ padding:0; margin:0; box-sizing: border-box; list-style-type: none; text-decoration: none;}

.container{
display:flex;
flex-direction: column;

}
body{
    font-family: 'montserrat', sans-serif;
    padding:100px 100px 0 100px;
    line-height: 1.2em;
    width:100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
.page-title{
    font-size: 30px;
}
.recipe-quote{
    width:70%;
    font-size: 14px;
    font-style: italic;
    display: flex;
    align-items: flex-start;
    margin: 30px 0;
}
.recipe-quote blockquote{
    margin: 0 20px;
} 
.recipe-quote img{
    width:22px;
}
.food-image img{
    width:100%;
    margin:10px 0;
}
.ingredient-info-wrapper{
    margin:10px 0;
    display:grid;
    grid-template-columns: 50% 50%;
}
.ingredients h4{
margin:28px 0;
}
.ingredients h5{
margin:25px 0;
font-weight: 400;
font-style: italic;
}
.recipes{
    display: flex;
    margin:14px 0;
}
label{
    margin: 0 15px;
    font-size: 12px;
}
.side-info{
    margin:28px 0;
    box-shadow:0px 0px 15px -5px rgba(0,0,0,0.2);
    height: fit-content;
    width:216px;
    padding: 30px;
    border-radius:5%;
    font-size:12px;
    justify-self: flex-end;
}
.side-info h6{
    text-transform: uppercase;
    color: #BDBDBD;
}
.info-wrapper{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.info-wrapper img{
    width:20px;
    height:20px;
}
.info-wrapper div{
    margin: 0 10px;
}
.orange{
    color: #F2994A;
    fill: #F2994A;
}
.instruction-wrapper{
    display:flex;
    font-size:12px;
    margin: 10px 0;
    width: 50%;
    }
.inst-number{
    height: 30px;
    width: 30px !important;
    background-color: #F2994A;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}
.instruction-wrapper p{
    width: 90%;
    margin: 0 15px;
}
.recipe-source{
    color:#BDBDBD;
    font-size: 12px;
}
footer{
    margin-top:50px;
    margin-bottom:10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color:#828282;
}


/* medium screen */  
@media screen and (max-width: 768px) and (min-width: 481px) { 
    body{
        padding:30px 30px 0 30px;
        }
    .page-title{
        font-size: 20px;
    }
    .recipe-quote{
        width:100%;
        margin: 15px 0;
    }
    .ingredient-info-wrapper{
        margin:10px 0;
        display:flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .side-info{
        margin: 0;
        box-shadow:unset;
        display: flex;
        width:100%;
        padding: 15px 0;
        font-size:12px;
        flex-wrap: wrap;
        justify-self: unset;
        justify-content: space-between;
    }
    .ingredients h4{
        margin:15px 0;
        }
        .ingredients h5{
        margin:10px 0;
        }
    .instruction-wrapper{
        width: 100%;
        }
    footer{
        font-size:10px;
    }
 } 
/* small screen */ 
 @media screen and (max-width: 480px) { 
body{
    padding:15px 15px 0 15px;
    }
.page-title{
    font-size: 18px;
}
.recipe-quote{
    width:100%;
    margin: 15px 0;
}
.ingredient-info-wrapper{
    margin:10px 0;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.side-info{
    margin: 0;
    box-shadow:unset;
    display: flex;
    width:100%;
    padding: 15px 0;
    font-size:12px;
    flex-wrap: wrap;
    justify-self: unset;
}
.side-info1{
    width:100%;
}
.side-info-hide{
    display:none;
}
.ingredients h4{
    margin:15px 0;
    }
    .ingredients h5{
    margin:10px 0;
    }
.instruction-wrapper{
    width: 100%;
    }
footer{
    font-size:10px;
}
  }